extends layout 

block content 

    h1= title 
    p #{title}
    form(method='POST' action='')
        label(for="songname") Song Name: 
        input#name(type="text", name="songname")
        label(for="songlength") Duration: 
        input#name(type="text", name="songlength")
        label(for="description") Description: 
        input#name(type="text", name="description")
        label(for="genre") Genre: 
        input#name(type="text", name="genre")
        label(for="name") Artist Name: 
        input#name(type="text", name="name")
        label(for="birthdate") Artist Birth Date: 
        input#name(type="text", name="birthdate")
        button(type='submit') Submit